.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    height: 70px;
    background-color: #ffffff;
}

.logo {
    width: 170px;
    height: auto;
}

.verLine {
    height: 70px;
    width: 1px;
    margin-left: 40px;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #ffffff;
    margin-left: 50px;
    gap: 40px;
}

.links {
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.navBut {
    width: 45px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}
