.mb {
    margin-bottom: 0;
}

.SessionCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 80vw;
    /* height:15vw; */
    background-color: #ffffff;
    color: #000000;
}

.eventTitle {
    font-size: 1.7vw;
    font-weight: 600;
    width: 60vw;
}

.eventHeading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventButtons {
    display: flex;
    margin-left: 5vw;
}

.eveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 8vw; */
    padding: 0 20px 0 20px;
    height: 40px;
    background-color: #1C2433;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}

.eveButtonborderless {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 8vw; */
    padding: 0 20px 0 20px;
    height: 40px;
    /* background-color: #1C2433; */
    border-radius: 5px;
    color: #1C2433;
    font-weight: 600;
    cursor: pointer;
}

.eventPoster {
    width: 22vw;
    height: 13vw;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.eventContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.eveDesc {
    width: 55vw;
    margin-left: 30px;
}

.eveDateMode {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.eveDM {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 10px;
    /* justify-content: center; */
}

.preview {
    margin-top: 15px;
    float: right;
    font-weight: 600;
    font-size: 1.2vw;
    color: #2D8FEA;
}